---
import Head from '../../components/Head.astro';
import OgImageTemplate from '../../components/OgImageTemplate.astro';

export const prerender = false;

const { id } = Astro.params;
console.log('id for', id);
---

<Head id={id} />

<main>
	<OgImageTemplate id={id} />
</main>

<style>
	main {
		/* --primary-color: #c8a2c8;
		--secondary-color: #ffe7ff; */
		--primary-color: #c4adc9;
		--secondary-color: #f5f1e6;

		height: 100dvh;
		width: 100vw;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background: linear-gradient(
			180deg,
			var(--primary-color) -38.73%,
			var(--secondary-color) 86.35%
		);
	}
</style>
