---
import OgImageTemplate from '../components/OgImageTemplate.astro';
const { id } = Astro.params;
import '@fontsource/irish-grover';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/iwo-logo.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta
			property='og:url'
			content='https://og-image-mkabala.vercel.app//og/nails-1'
		/>
		<meta property='og:type' content='website' />
		<meta property='og:title' content='IW-Nails Watford' />
		<meta
			property='og:description'
			content='Indulge in a pampering experience for your nails at a place that cares for you. Our dedicated professionals ensure meticulous nail care, creating a haven where your well-being is our top priority. Treat yourself to the ultimate nail transformation and let us nurture you with expert service and attention to detail. Discover a sanctuary for your nails, where beauty meets personalized care.'
		/>
		<meta
			property='og:image'
			content={`https://og-image-mkabala.vercel.app/${id}.jpeg`}
		/>
		<meta name='generator' content={Astro.generator} />
		<!-- <slot name='head' /> -->
		<title>OG</title>
	</head>
	<body>
		<h1>Click link below to go to the page</h1>
		<ul>
			<li><a href='/og/nails-1'>nails-1</a></li>
			<li><a href='/og/nails-2'>nails-2</a></li>
			<li><a href='/og/nails-3'>nails-3</a></li>
		</ul>
		<!-- <img
			src={`/og-images/${id?.replace(/\//g, '-')}.png`}
			alt='Beautiful nails Art'
		/> -->
	</body>
</html>
<style>
	html,
	body {
		font-family: 'Irish Grover', sans-serif;
		text-align: center;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;

		& li {
			list-style: none;

			& a {
				text-decoration: none;
			}
		}
	}
</style>
