---
import Head from '../components/Head.astro';

import '@fontsource/irish-grover';
export const prerender = false;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/iwo-logo.svg' />
		<meta name='viewport' content='width=device-width' />
		<Head />
		<title>OG</title>
	</head>
	<body>
		<h1>Click link below to go to the page</h1>
		<ul>
			<li><a href='/og/nails-1'>nails-1</a></li>
			<li><a href='/og/nails-2'>nails-2</a></li>
			<li><a href='/og/nails-3'>nails-3</a></li>
		</ul>
		<!-- <img
			src={`/og-images/${id?.replace(/\//g, '-')}.png`}
			alt='Beautiful nails Art'
		/> -->
		<style>
			html,
			body {
				font-family: 'Irish Grover', sans-serif;
				text-align: center;
				width: 100vw;
				height: 100vh;
				margin: 0;
				padding: 0;

				& li {
					list-style: none;

					& a {
						text-decoration: none;
					}
				}
			}
		</style>
	</body>
</html>
