---
import LogoSvg from './LogoSvg.astro';
import '@fontsource/irish-grover';

const { id } = Astro.params;

import { generateOgImage } from '../pages/api/generateOgImage';

const location = new URL(Astro.request.url);
console.log('og', location);

const url = `${location}`;
const outputFilePath = `public/${id}.jpeg`;

await generateOgImage(url, outputFilePath);
---

<div class='og-container'>
	<div class='wrapper'>
		<div class='logo-container'>
			<h1>IW-NAILS <br /><span>WATFORD</span></h1>
			<LogoSvg />
		</div>
		<div class='align-center'>
			<p>Come and check my &#x1F485; &#x2728 works</p>
			<div>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='60'
					height='61'
					viewBox='0 0 60 61'
					fill='none'>
					<path
						d='M37.4343 52.5431C32.7601 54.1163 27.7073 54.1661 23.0029 52.6854C18.2985 51.2048 14.1851 48.2699 11.2545 44.3031C8.32393 40.3363 6.72726 35.5421 6.69425 30.6104C6.66123 25.6786 8.19357 20.8634 11.0708 16.8578C13.948 12.8521 18.0217 9.86243 22.7059 8.31891C27.39 6.77538 32.4431 6.75758 37.138 8.26808C41.8329 9.77857 45.9276 12.7395 48.8329 16.7248C51.7383 20.7101 53.3045 25.5143 53.3062 30.4462C53.2309 32.3366 53.002 34.2178 52.6219 36.0712'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path
						d='M35.4938 48.2118C33.8171 50.1167 31.979 51.8733 30 53.4618'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path
						d='M30 6.86806C36.2911 12.3645 40.1838 20.1029 40.8469 28.4306C40.983 29.9423 41.0112 31.4617 40.9312 32.9774'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path
						d='M30 6.86806C26.5867 9.84319 23.8445 13.5097 21.9551 17.6246C20.0657 21.7395 19.0723 26.209 19.0406 30.7368C19.0406 45.9243 25.8656 50.4243 29.9719 53.4618'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path
						d='M9.72186 18.9618H50.3906'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path d='M30 6.85868V53.4618' stroke='#11104a' stroke-width='2.8125'
					></path>
					<path
						d='M10.3594 42.9431H34.725'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path
						d='M6.69373 30.7368L53.3062 30.1649'
						stroke='#11104a'
						stroke-width='2.8125'></path>
					<path
						d='M50.2219 53.7431L54.375 49.5806L46.875 42.0806L51.1406 39.3524C51.2028 39.3157 51.2523 39.2609 51.2826 39.1954C51.313 39.1299 51.3227 39.0567 51.3105 38.9855C51.2983 38.9144 51.2648 38.8486 51.2143 38.7969C51.1639 38.7452 51.099 38.7101 51.0281 38.6962L36.6937 35.3399C36.6345 35.3279 36.5733 35.3307 36.5154 35.3481C36.4576 35.3655 36.4049 35.3969 36.3622 35.4397C36.3195 35.4824 36.288 35.535 36.2706 35.5929C36.2532 35.6507 36.2504 35.712 36.2625 35.7712L39.375 50.3774C39.3899 50.4484 39.4257 50.5134 39.4777 50.564C39.5297 50.6146 39.5955 50.6486 39.6669 50.6617C39.7383 50.6748 39.8119 50.6663 39.8785 50.6374C39.945 50.6085 40.0015 50.5604 40.0406 50.4993L42.7219 46.2431L50.2219 53.7431Z'
						stroke='#11104a'
						stroke-width='2.8125'></path>
				</svg>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='61'
					height='60'
					viewBox='0 0 61 60'
					fill='none'>
					<path
						fill-rule='evenodd'
						clip-rule='evenodd'
						d='M30.7222 45C39.0064 45 45.7222 38.2843 45.7222 30C45.7222 21.7157 39.0064 15 30.7222 15C22.4379 15 15.7222 21.7157 15.7222 30C15.7222 38.2843 22.4379 45 30.7222 45ZM30.7222 40C36.2449 40 40.7222 35.5228 40.7222 30C40.7222 24.4771 36.2449 20 30.7222 20C25.1993 20 20.7222 24.4771 20.7222 30C20.7222 35.5228 25.1993 40 30.7222 40Z'
						fill='#11104a'></path>
					<path
						d='M45.7222 12.5C44.3414 12.5 43.2222 13.6193 43.2222 15C43.2222 16.3807 44.3414 17.5 45.7222 17.5C47.1029 17.5 48.2222 16.3807 48.2222 15C48.2222 13.6193 47.1029 12.5 45.7222 12.5Z'
						fill='#11104a'></path>
					<path
						fill-rule='evenodd'
						clip-rule='evenodd'
						d='M4.85707 10.6902C3.22217 13.8988 3.22217 18.0992 3.22217 26.5V33.5C3.22217 41.9007 3.22217 46.1012 4.85707 49.3097C6.29517 52.1322 8.58987 54.427 11.4123 55.865C14.621 57.5 18.8214 57.5 27.2222 57.5H34.2222C42.6229 57.5 46.8234 57.5 50.0319 55.865C52.8544 54.427 55.1492 52.1322 56.5872 49.3097C58.2222 46.1012 58.2222 41.9007 58.2222 33.5V26.5C58.2222 18.0992 58.2222 13.8988 56.5872 10.6902C55.1492 7.8677 52.8544 5.573 50.0319 4.1349C46.8234 2.5 42.6229 2.5 34.2222 2.5H27.2222C18.8214 2.5 14.621 2.5 11.4123 4.1349C8.58987 5.573 6.29517 7.8677 4.85707 10.6902ZM34.2222 7.5H27.2222C22.9393 7.5 20.0278 7.5039 17.7774 7.68775C15.5853 7.86685 14.4643 8.19148 13.6823 8.58993C11.8006 9.54868 10.2708 11.0785 9.31209 12.9601C8.91364 13.7421 8.58902 14.8631 8.40992 17.0552C8.22607 19.3056 8.22217 22.2171 8.22217 26.5V33.5C8.22217 37.783 8.22607 40.6943 8.40992 42.9448C8.58902 45.137 8.91364 46.258 9.31209 47.04C10.2708 48.9215 11.8006 50.4512 13.6823 51.41C14.4643 51.8085 15.5853 52.1333 17.7774 52.3122C20.0278 52.496 22.9393 52.5 27.2222 52.5H34.2222C38.5052 52.5 41.4164 52.496 43.6669 52.3122C45.8592 52.1333 46.9802 51.8085 47.7622 51.41C49.6437 50.4512 51.1734 48.9215 52.1322 47.04C52.5307 46.258 52.8554 45.137 53.0344 42.9448C53.2182 40.6943 53.2222 37.783 53.2222 33.5V26.5C53.2222 22.2171 53.2182 19.3056 53.0344 17.0552C52.8554 14.8631 52.5307 13.7421 52.1322 12.9601C51.1734 11.0785 49.6437 9.54868 47.7622 8.58993C46.9802 8.19148 45.8592 7.86685 43.6669 7.68775C41.4164 7.5039 38.5052 7.5 34.2222 7.5Z'
						fill='#11104a'></path>
				</svg>
			</div>
		</div>
		<div class='img-container'>
			<img class='img' src={`/${id}.png`} alt='Beautiful nails Art' />
		</div>
	</div>
</div>

<style>
	* {
		/* --primary-color: #c4adc9;
		--secondary-color: #f5f1e6;
		--text-color: #431913; */
		--primary-color: #c4adc9;
		--secondary-color: #fef3ec;
		--text-color: #11104a;
	}
	svg {
		stroke: var(--text-color);
	}

	.og-container {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(
			180deg,
			var(--primary-color) 86.35% var(--secondary-color)-38.73%
		);
		box-shadow: 0 0 0 10px var(--primary-color);
		width: 1100px;
		aspect-ratio: 1100/530;
		font-family: 'Irish Grover', sans-serif;
	}
	.wrapper {
		box-sizing: border-box;
		font-family: Irish Grover;
		color: var(--text-color);
		display: flex;
		justify-content: space-between;
		width: 98%;
		height: 95%;
		/* border: 1.5px solid var(--primary-color); */
		border-radius: 20px;
		padding: 1rem;
		background: linear-gradient(
			180deg,
			var(--primary-color) -38.73%,
			var(--secondary-color) 86.35%
		);
	}
	h1 {
		text-align: center;
		font-size: 4rem;
		-webkit-text-stroke: 0.1px var(--secondary-color);
	}
	.logo-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.align-center {
		margin: auto;
		text-align: center;
	}
	p {
		font-size: clamp(1.35rem, 1.5vw, 2rem);
		/* font-size: 1.35rem; */
		color: var(--text-color);
	}
	img {
		height: auto;
		width: auto;
		margin: 0;
		/* border-radius: 15px; */
		aspect-ratio: 2/3;
		margin: auto;
		position: relative;
		z-index: 10;
	}

	.img-container {
		margin: auto;
		position: relative;
	}
	.img-container::after,
	.img-container::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 400px;
		max-width: 400px;
		aspect-ratio: 2/3;
		border: 2px solid var(--primary-color);
		z-index: 1;
	}
	.img-container::after {
		left: 3rem;
		top: 3rem;
	}
	.img-container::before {
		right: 3rem;
		bottom: 3rem;
	}
</style>
